<div class="absolute top-4 left-0 w-40 h-40 bg-sky-200/80 rounded-3xl rotate-15 shadow-md"></div>

<div class="absolute top-32 left-12 w-32 h-32 bg-orange-500 rounded-2xl rotate-12 shadow-lg"></div>

<div class="absolute top-40 left-40 w-32 h-32 bg-pink-300 rounded-2xl -rotate-8 shadow-md"></div>

<div class="absolute bottom-4 left-32 w-36 h-36 bg-amber-400 rounded-3xl rotate-12 shadow-md"></div>

<div class="absolute top-20 left-40 w-44 h-20 rounded-full border-2 border-black/70"></div>

<div class="absolute top-2 left-16 w-28 h-28 rounded-full border-2 border-black/70"></div>

<div class="absolute top-32 left-60 w-32 h-32 rounded-full border-2 border-black/70"></div>
