<div class="flex flex-col">
    <div
        class="hero min-h-screen bg-[conic-gradient(at_0%_0%,rgb(134,239,172),rgb(59,130,246),rgb(147,51,234))]"
    >
        <div class="hero-content w-full flex-col lg:flex-row justify-between">
            <div class="w-full lg:w-1/3 flex justify-center px-4 py-10">
                <figures-component
                    class="relative w-1/2 h-80 lg:h-112 overflow-visible hidden lg:block"
                />

                <ul class="steps steps-horizontal lg:steps-vertical font-bold z-50">
                    <li
                        class="step cursor-pointer"
                        (click)="steps.set(1)"
                        [class]="steps() >= 1 ? 'step-primary' : ''"
                    >
                        Régimen fiscal
                    </li>
                    <li
                        class="step cursor-pointer"
                        (click)="steps.set(2)"
                        [class]="steps() >= 2 ? 'step-primary' : ''"
                    >
                        Consultoría
                    </li>
                    <li
                        class="step cursor-pointer"
                        (click)="steps.set(3)"
                        [class]="steps() >= 3 ? 'step-primary' : ''"
                    >
                        Persona
                    </li>
                    <li
                        class="step cursor-pointer"
                        (click)="steps.set(4)"
                        [class]="steps() >= 4 ? 'step-primary' : ''"
                    >
                        Consultores
                    </li>
                    <li
                        class="step cursor-pointer"
                        (click)="steps.set(5)"
                        [class]="steps() >= 5 ? 'step-primary' : ''"
                    >
                        Personalización
                    </li>
                </ul>
            </div>

            <div class="w-full lg:w-1/2 flex justify-center px-4 py-10">
                <div class="card bg-base-100 w-full max-w-s shrink-0 shadow-2xl">
                    <div class="card-body w-full flex">
                        <!-- PASO 1: Régimen Fiscal -->
                        @if (steps() === 1) {
                        <h2 class="text-xl font-bold text-center mb-4">Régimen Fiscal</h2>

                        <form [formGroup]="fiscalRegime" class="flex flex-col gap-3">
                            <select
                                class="select w-full"
                                required
                                formControlName="TipoConsultor"
                                [class]="
                                    fiscalRegime.get('TipoConsultor')?.invalid &&
                                    fiscalRegime.get('TipoConsultor')?.touched
                                        ? 'select-error'
                                        : 'select-neutral'
                                "
                            >
                                <option disabled selected value="">Tipo de consultoría</option>
                                <option value="Individual">Individual</option>
                                <option value="Agrupación">Agrupación</option>
                            </select>

                            <select
                                class="select w-full"
                                required
                                formControlName="FiscalRegime"
                                [class]="
                                    fiscalRegime.get('FiscalRegime')?.invalid &&
                                    fiscalRegime.get('FiscalRegime')?.touched
                                        ? 'select-error'
                                        : 'select-neutral'
                                "
                            >
                                <option disabled selected value="">Régimen Fiscal</option>
                                <option value="PF">Persona Física</option>
                                <option value="PM">Persona Moral</option>
                            </select>

                            <button class="btn btn-primary mt-4 w-full" (click)="nextStep()">
                                Siguiente
                            </button>
                        </form>
                        }
                        <!-- PASO 2: Consultoría  -->
                        @if (steps() === 2) {
                        <!-- -->
                        @if (fiscalRegime.get('TipoConsultor')?.value === 'Individual') {
                        <!-- <p>PERSONA INDIVIDUAL</p> -->

                        @if (fiscalRegime.get('FiscalRegime')?.value === 'PF') {
                        <!-- <p>ES PERSONA FÍSICA</p> -->
                        } @else {
                        <!-- <p>ES PERSONA MORAL</p> -->
                        }
                        <!-- -->
                        } @else {
                        <!-- <p>PERSONA AGRUPADA PUEDE SER FÍSICA O MORAL</p> -->
                        }

                        <h2 class="text-xl font-bold text-center mb-4">Consultoría</h2>
                        <form [formGroup]="registerConsultoria" class="flex flex-col gap-3">
                            <div class="relative w-full">
                                <input
                                    id="razon_social"
                                    formControlName="razon_social"
                                    type="text"
                                    placeholder=" "
                                    class="input input-bordered w-full peer bg-transparent pt-5"
                                    [class]="
                                        registerConsultoria.get('razon_social')?.invalid &&
                                        registerConsultoria.get('razon_social')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <label
                                    for="razon_social"
                                    class="absolute left-3 top-[45%] -translate-y-1/2 text-base-content/60 transition-all duration-200 peer-focus:top-2 peer-focus:text-xs peer-focus:translate-y-0 peer-[:not(:placeholder-shown)]:top-2 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:translate-y-0"
                                >
                                    Razón Social
                                </label>
                            </div>

                            <!-- <input
                                id="razon_social"
                                formControlName="razon_social"
                                type="text"
                                class="input input-full"
                                placeholder="Razón Social"
                                [class]="
                                    registerConsultoria.get('razon_social')?.invalid &&
                                    registerConsultoria.get('razon_social')?.touched
                                        ? 'input-error'
                                        : ''
                                "
                            /> -->

                            <div class="flex flex-col sm:flex-row gap-3">
                                <input
                                    id="nombre_comercial"
                                    formControlName="nombre_comercial"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Nombre Comercial"
                                    [class]="
                                        registerConsultoria.get('nombre_comercial')?.invalid &&
                                        registerConsultoria.get('nombre_comercial')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />
                            </div>

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <input
                                    id="nombre_corto"
                                    formControlName="nombre_corto"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Nombre corto"
                                    [class]="
                                        registerConsultoria.get('nombre_corto')?.invalid &&
                                        registerConsultoria.get('nombre_corto')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <input
                                    id="clave"
                                    formControlName="clave"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Clave"
                                    [class]="
                                        registerConsultoria.get('clave')?.invalid &&
                                        registerConsultoria.get('clave')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <!-- <select
                                    id="tipo_empresa"
                                    formControlName="tipo_empresa"
                                    class="select input-full"
                                    [class]="
                                        registerConsultoria.get('tipo_empresa')?.invalid &&
                                        registerConsultoria.get('tipo_empresa')?.touched
                                            ? 'select-error'
                                            : ''
                                    "
                                >
                                    <option disabled selected value="">Tipo de Empresa</option>
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select> -->
                            </div>

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <input
                                    id="rfc"
                                    formControlName="rfc"
                                    type="text"
                                    class="input input-full"
                                    placeholder="RFC"
                                    [class]="
                                        registerConsultoria.get('rfc')?.invalid &&
                                        registerConsultoria.get('rfc')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <input
                                    id="telefono"
                                    formControlName="telefono"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Teléfono"
                                    [class]="
                                        registerConsultoria.get('telefono')?.invalid &&
                                        registerConsultoria.get('telefono')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />
                            </div>

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <input
                                    id="website"
                                    formControlName="website"
                                    type="url"
                                    class="input input-full"
                                    placeholder="Website"
                                    pattern="^(https?://)?([a-zA-Z0-9]([a-zA-Z0-9\-].*[a-zA-Z0-9])?\.)+[a-zA-Z].*$"
                                    [class]="
                                        registerConsultoria.get('website')?.invalid &&
                                        registerConsultoria.get('website')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />
                            </div>

                            <input
                                id="slogan"
                                formControlName="slogan"
                                type="text"
                                class="input input-full"
                                placeholder="Slogan"
                                [class]="
                                    registerConsultoria.get('slogan')?.invalid &&
                                    registerConsultoria.get('slogan')?.touched
                                        ? 'input-error'
                                        : ''
                                "
                            />

                            <div class="divider divider-neutral font-bold">Dirección</div>

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <select
                                    id="estado"
                                    formControlName="estado"
                                    class="select input-full"
                                    [class]="
                                        registerPersona.get('estado')?.invalid &&
                                        registerPersona.get('estado')?.touched
                                            ? 'select-error'
                                            : ''
                                    "
                                >
                                    <!-- (change)="changeEstado($event)" -->
                                    <option disabled selected value="">Estado</option>
                                    @for (state of estados(); track $index) {
                                    <option [value]="state.edoID">{{ state.edoDSC }}</option>
                                    }
                                </select>

                                <select
                                    id="municipio"
                                    formControlName="municipio"
                                    class="select input-full"
                                    [class]="
                                        registerPersona.get('municipio')?.invalid &&
                                        registerPersona.get('municipio')?.touched
                                            ? 'select-error'
                                            : ''
                                    "
                                >
                                    <!-- (change)="getAllMunicipiosByID()" -->
                                    <option disabled selected value="">Municipio</option>
                                    @for (state of estados(); track $index) {
                                    <option [value]="state.edoID">{{ state.edoDSC }}</option>
                                    }
                                </select>

                                <!-- <input
                                    id="municipio"
                                    formControlName="municipio"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Municipio"
                                    [class]="
                                        registerConsultoria.get('municipio')?.invalid &&
                                        registerConsultoria.get('municipio')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                /> -->
                            </div>

                            <input
                                id="calle"
                                formControlName="calle"
                                type="text"
                                class="input input-full"
                                placeholder="Calle"
                                [class]="
                                    registerConsultoria.get('calle')?.invalid &&
                                    registerConsultoria.get('calle')?.touched
                                        ? 'input-error'
                                        : ''
                                "
                            />

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <input
                                    id="no_int"
                                    formControlName="no_int"
                                    type="text"
                                    class="input input-full"
                                    placeholder="No. INT"
                                    [class]="
                                        registerConsultoria.get('no_int')?.invalid &&
                                        registerConsultoria.get('no_int')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <input
                                    id="no_ext"
                                    formControlName="no_ext"
                                    type="text"
                                    class="input input-full"
                                    placeholder="No. EXT"
                                    [class]="
                                        registerConsultoria.get('no_ext')?.invalid &&
                                        registerConsultoria.get('no_ext')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <input
                                    id="codigo_postal"
                                    formControlName="codigo_postal"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Código Postal"
                                    [class]="
                                        registerConsultoria.get('codigo_postal')?.invalid &&
                                        registerConsultoria.get('codigo_postal')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />
                            </div>

                            <button class="btn btn-primary mt-4 w-full" (click)="nextStep()">
                                Siguiente
                            </button>
                        </form>
                        }
                        <!-- PASO 3: Perona -->
                        @if (steps() === 3) {
                        <h2 class="text-xl font-bold text-center mb-4">Persona</h2>

                        <form [formGroup]="registerPersona" class="flex flex-col gap-3">
                            <input
                                id="Nombres"
                                formControlName="Nombres"
                                type="text"
                                class="input input-full"
                                placeholder="Nombres"
                                [class]="
                                    registerPersona.get('Nombres')?.invalid &&
                                    registerPersona.get('Nombres')?.touched
                                        ? 'input-error'
                                        : ''
                                "
                            />

                            <div class="flex flex-col sm:flex-row gap-3">
                                <input
                                    id="ApPaterno"
                                    formControlName="ApPaterno"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Apellido Paterno"
                                    [class]="
                                        registerPersona.get('ApPaterno')?.invalid &&
                                        registerPersona.get('ApPaterno')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <input
                                    id="ApMaterno"
                                    formControlName="ApMaterno"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Apellido Materno"
                                    [class]="
                                        registerPersona.get('ApMaterno')?.invalid &&
                                        registerPersona.get('ApMaterno')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />
                            </div>

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <select
                                    id="Genero"
                                    formControlName="Genero"
                                    class="select input-full"
                                    [class]="
                                        registerPersona.get('Genero')?.invalid &&
                                        registerPersona.get('Genero')?.touched
                                            ? 'select-error'
                                            : ''
                                    "
                                >
                                    <option disabled selected value="">Género</option>
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>

                                <label class="input input-full">
                                    <span class="label text-wrap text-xs">Fecha de Nacimiento</span>
                                    <input
                                        type="date"
                                        id="FNacimiento"
                                        formControlName="FNacimiento"
                                        class="input-full"
                                        [class]="
                                            registerPersona.get('FNacimiento')?.invalid &&
                                            registerPersona.get('FNacimiento')?.touched
                                                ? 'input-error'
                                                : ''
                                        "
                                    />
                                </label>
                            </div>

                            <div class="flex flex-col gap-3 sm:flex-row">
                                <input
                                    id="Email"
                                    formControlName="Email"
                                    type="email"
                                    class="input input-full"
                                    placeholder="Email"
                                    [class]="
                                        registerPersona.get('Email')?.invalid &&
                                        registerPersona.get('Email')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />

                                <input
                                    id="Telefono"
                                    formControlName="Telefono"
                                    type="text"
                                    class="input input-full"
                                    placeholder="Teléfono"
                                    pattern="[0-9]*"
                                    minlength="10"
                                    maxlength="10"
                                    [class]="
                                        registerPersona.get('Telefono')?.invalid &&
                                        registerPersona.get('Telefono')?.touched
                                            ? 'input-error'
                                            : ''
                                    "
                                />
                            </div>
                            <button class="btn btn-primary mt-4 w-full" (click)="nextStep()">
                                Siguiente
                            </button>
                        </form>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form [formGroup]="formPreregistro" (ngSubmit)="insertPreregistro()" class="grid grid-cols-1 md:grid-cols-2 gap-6"> -->
<!--
                                ConsultoriaID: new FormControl(''),

                                
                                : new FormControl(''),
                                : new FormControl(''),
                                : new FormControl(''),
                                : new FormControl(''),
                                : new FormControl(''),
                                : new FormControl(''),
                                Usuario: new FormControl(''),
                                Password: new FormControl(''),
                                Cedula: new FormControl(''),
                                Token: new FormControl(''),
                                Grado: new FormControl(''),
                                Nivel: new FormControl(''),
                                Especialidad: new FormControl(''),
                                Especializacion: new FormControl(''),
                                Cp: new FormControl(''),
                                Estado: new FormControl(''),
                                Municipio: new FormControl(''),
                                Calle: new FormControl(''),
                                NoInt: new FormControl(''),
                                NoExt: new FormControl(''),
                            -->
